@import 'tailwindcss';

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-out-animation {
  animation: FadeOutKeyframe linear 3000ms;
  animation-iteration-count: 1;
}

@keyframes FadeOutKeyframe {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.big-breathe-animation {
  animation: BigBreatheKeyframe linear 3000ms;
  animation-iteration-count: 1;
}

@keyframes BigBreatheKeyframe {
  0% {
    font-size: 0;
  }
  10% {
    font-size: 250%;
  }
}

.highlight-animation {
  animation: HighlightKeyframe linear 1000ms;
  animation-iteration-count: infinite;
}

@keyframes HighlightKeyframe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
